body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

li {
  font-size: 18px;
  line-height: 1.2;
}

.phone-section {
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}

h1 {
  color: #000;
}
.stats {
  margin-top: 20px;
}
.stat {
  padding: 10px 0 10px 5px;
}
.stat p {
  text-align: center;
}

.stat:nth-child(even) {
  background-color: #bab9b9;
}

.stat:not(:first-child) {
  margin-top: 20px;
}
